:root{
    --yellow: #f9ca24;
}

body{
    color: #fff;
    padding: 0;
    margin: 0;
    background: #111;
    display: flex;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: #222;
}

html::-webkit-scrollbar-thumb{
    background: var(--yellow);
}

header{
    left: 0;
    top: 0;
    position: fixed;
    width: 20rem; height: 100%;
    background: #1a1a1a;
    display: flex;
    flex-flow: column;
    justify-content: center;

    .user{
        text-align: center;
        h2,h4{
            margin-bottom: 0;
            margin-top: .4rem;
        }
        .user-links{

            ul{
                list-style: none;

                li{
 
                    a{
                        background: rgb(56, 56, 56);
                        padding: 1rem;
                        margin: 1rem;
                        border-radius: 1.5rem;
                        display: block;
                        &:hover{
                            background: var(--yellow);
                        } 
                        text-decoration: none;
                        color: #fff;
                        font-size: large;
                    }
                }
            }
        }
    }
}

main{
    padding: 1rem;
    padding-left: 22rem;

    .menu{
        width: 2rem; height: 2rem;
        background: #333;
        top: 1rem;
        right: 1rem;
        position: fixed;
        display: flex;
        flex-flow: column;
        justify-content: center;
        text-align: center;
        padding: .5rem;
        padding-bottom: .2rem;
        border-radius: .5rem;
        display: none;

        .line{
            color: #fff;
            background: #fff;
            width: 60%; height: .05rem;
            margin: .2rem;
            padding: .08rem;
            border-radius: .2rem;
            
        }

        &:hover{
            background: #666;
            cursor: pointer;
        }
    }
    .menuClose{
        width: 2rem; height: 2rem;
        background: #333;
        top: 1rem;
        right: 1rem;
        position: fixed;
        text-align: center;
        padding: .5rem;
        border-radius: .2rem;
        display: none;

        .close{
            color: #fff;
            font-size: 1.8rem;
        }

        &:hover{
            background: #666;
            cursor: pointer;
        }
    }

    .page{
        min-height: 100vh;
        padding: 1rem;
        
    }
    #home{
        display: flex;
        flex-flow: column;
        justify-content: center;
        padding: 0 10rem;

        h3{
            font-size: 1.5rem;
            margin-bottom: 0;
        }

        h1{
            font-size: 2rem;
            margin-bottom: 0;

            span{
                color: var(--yellow);
            }
        }
        p{
            font-size: 1.2rem;
            a{
                text-decoration: none;
                color: yellow;
            }
        }
        button{
            width: 30%;
            border-radius: 1rem;
            border: none;
            outline: none;
            background: green;
            padding: .5rem;

            &:hover{
                background: var(--yellow);
            }

            a{
                text-decoration: none;
                color: #eee;

            }
        }
    }

    #about{
        .about-head{
            text-align: center;

            h2{
                color: var(--yellow);
                font-size: 2rem;
                margin-bottom: 0;
                span{
                    color: #fff;
                }
            }
        }
        .about-user{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 1rem 0;
            padding-left: 3rem;

            .info{
                font-size: 1.5rem;
                button{
                    width: 50%;
                    border-radius: 1rem;
                    border: none;
                    outline: none;
                    background: green;
                    padding: .5rem;
        
                    &:hover{
                        background: yellowgreen;
                    }
        
                    a{
                        text-decoration: none;
                        color: #eee;
        
                    }
                }
            }

            .board{
                display: grid;
                grid-template-columns: 1fr 1fr;
                button{
                    border-radius: 1rem;
                    outline: none;
                    border: none;
                    margin: 1rem;
                    padding: 1rem;
                    background: #222;
                    color: #fff;
                    font-size: 1.5rem;
                    span{
                        color: var(--yellow);
                    }
                }
            }
        }

    }
    #education{
        .education-head{
            text-align: center;

            h2{
                color: #fff;
                font-size: 2rem;
                margin-bottom: 0;
                span{
                    color: var(--yellow);
                }
            }
        }
        .education-container{
            // display: grid;
            // grid-template-columns: 1fr 1fr 1fr;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 1rem 0;
            padding-left: 1rem;
            .container{
                width: 20rem;
                background: #222;
                margin: 1rem;
                padding: 1rem;
                border-radius: 1rem;

                h3{
                    margin-bottom: 0;
                }
                p{
                    font-size: 1.1rem;
                }
                button{
                    width: 40%;
                    padding: .5rem;
                    border-radius: 1rem;
                    border: none;
                    outline: none;
                    background: rgb(94, 122, 94);
                }
            }
        }
    }
    #portfolio{
        .portfolio-head{
            text-align: center;

            h2{
                color: #fff;
                font-size: 2rem;
                margin-bottom: 0;
                span{
                    color: var(--yellow);
                }
            }
        }
        .portfolio-container{
            // display: grid;
            // grid-template-columns: 1fr 1fr 1fr;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 1rem 0;
            padding-left: 1rem;
            .container{
                width: 20rem;
                background: #222;
                padding: 1rem;
                margin: 1rem;
                border-radius: 1rem;


                p{
                    font-size: 1.1rem;
                }

            }
        }
    }
    #contact{
        .contact-head{
            text-align: center;

            h2{
                color: var(--yellow);
                font-size: 2rem;
                margin-bottom: 0;
                span{
                    color: #fff;
                }
            }
        }
        .contact-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 1rem 0;
            padding-left: 3rem;
            .contact-info{
                margin: 1rem;
                padding: 1rem;
                font-size: 1.2rem;
            }
            .contact-me{
                margin: 1rem;
                padding: 1rem;
                .contact{
                    width: 24rem;
                    input{
                        background: #222;
                        margin: .5rem;
                        padding: .8rem;
                        border-radius: .5rem;
                        width: 80%;
                        border: none;
                        outline: none;
                        color: #fff;
                        font-size: 1rem;
                    }
                    
                    #submit{
                        width: 26%;
                        background: rgb(7, 156, 7);
                        border-radius: 1.8rem;

                        &:hover{
                            background:yellowgreen;
                            cursor: pointer;
                        }
                    }

                    textarea{
                        background: #222;
                        margin: .5rem;
                        width: 80%;
                        border-radius: .5rem;
                        border: none;
                        outline: none;
                    }
                }
            }
        }
    }
}



@media(max-width:1200px){
    main{
        padding: 1rem;
        padding-left: 22rem;
        .menu{
            display: none;
        }
        .menuClose{
        display: none;
    }
    }

}

@media(max-width:991px){

    header{
        display: none;
    }
    main{
        padding: 0;
        .menu{
            display: block;
        }
    }
}

@media(max-width:500px){

    header{
        display: none;
    }
    main{
        padding: 0;
        .menu{
            display: block;
        }
    }

}